kubernetes>=28.0.0
prometheus-api-client>=0.5.0
prometheus-client>=0.19.0
numpy>=1.24.0
scipy>=1.10.0
pmdarima>=2.0.0
pydantic>=2.0.0


metadata:
  name: '{{.CHORUS_SUITE_UID}}'
spec:
  timeout: 2h
  serviceAccount: 'ack-dev-sa'
  workspace:
    name: ws
tasks:
  - name: git-clone
    description: 代码克隆
    type: chorus
    timeout: 60m
    taskRef:
      name: git-clone
      params:
        - name: url
          value: '{{.CHORUS_GIT_REPO}}'
        - name: revision
          value: '{{.CHORUS_GIT_BRANCH}}'
    workspaces:
      - name: output
        workspace: ws
  - name: controller-image
    description: 构建controller镜像
    type: chorus
    timeout: 60m
    taskRef:
      name: build-image
      params:
        - name: MULTI_ARCH
          value: linux/amd64,linux/arm64    # 【选改】架构参数, 若有多个半角逗号分隔, OS/CPU架构.  例如需要arm64，写：linux/amd64,linux/arm64
        - name: DOCKERFILE
          value: ./Dockerfile   #juicefs/docker/Dockerfile.juicefs base/Dockerfile
        - name: CONTEXT
          value: . #dynamic-mount/juicefs/docker/ base/
        - name: REGISTRY
          value: '{{.ACK_DEV_REG_HOST}}'
        - name: IMAGE_NAME
          value: '{{.ACK_DEV_REG_NS}}/rbg-role-autoscaler-controller'  #【必改】根据自己需要改一下ray这个部分，就是镜像名
        - name: IMAGE_TAG
          value: 'v0.0.1'
        - name: BUILDKIT_DAEMON_ADDRESS
          value: 'tcp://tekton-buildkitd:80'
    workspaces:
      - name: source
        workspace: ws
    runAfter:
      - git-clone
  - name: profiling-image
    description: 构建镜像
    type: chorus
    timeout: 60m
    taskRef:
      name: build-image
      params:
        - name: MULTI_ARCH
          value: linux/amd64,linux/arm64    # 【选改】架构参数, 若有多个半角逗号分隔, OS/CPU架构.  例如需要arm64，写：linux/amd64,linux/arm64
        - name: DOCKERFILE
          value: ./python/profiler/Dockerfile   #juicefs/docker/Dockerfile.juicefs base/Dockerfile
        - name: CONTEXT
          value: ./python/profiler/ #dynamic-mount/juicefs/docker/ base/
        - name: REGISTRY
          value: '{{.ACK_DEV_REG_HOST}}'
        - name: IMAGE_NAME
          value: '{{.ACK_DEV_REG_NS}}/rbg-role-autoscaler-profiler'  #【必改】根据自己需要改一下ray这个部分，就是镜像名
        - name: IMAGE_TAG
          value: 'v0.0.1'
        - name: BUILDKIT_DAEMON_ADDRESS
          value: 'tcp://tekton-buildkitd:80'
    workspaces:
      - name: source
        workspace: ws
    runAfter:
      - git-clone
  - name: planner-image
    description: 构建镜像
    type: chorus
    timeout: 60m
    taskRef:
      name: build-image
      params:
        - name: MULTI_ARCH
          value: linux/amd64,linux/arm64    # 【选改】架构参数, 若有多个半角逗号分隔, OS/CPU架构.  例如需要arm64，写：linux/amd64,linux/arm64
        - name: DOCKERFILE
          value: ./python/planner/Dockerfile   #juicefs/docker/Dockerfile.juicefs base/Dockerfile
        - name: CONTEXT
          value: ./python/planner/ #dynamic-mount/juicefs/docker/ base/
        - name: REGISTRY
          value: '{{.ACK_DEV_REG_HOST}}'
        - name: IMAGE_NAME
          value: '{{.ACK_DEV_REG_NS}}/rbg-role-autoscaler-planner'  #【必改】根据自己需要改一下ray这个部分，就是镜像名
        - name: IMAGE_TAG
          value: 'v0.0.1'
        - name: BUILDKIT_DAEMON_ADDRESS
          value: 'tcp://tekton-buildkitd:80'
    workspaces:
      - name: source
        workspace: ws
    runAfter:
      - git-clone
